{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}


<div itemscope itemtype="http://schema.org/Person" class="modern-author">


<!-- Avatar -->

<div class="author__avatar">

{% if author.avatar contains "://" %}

<img src="{{ author.avatar }}"
     alt="{{ author.name }}"
     class="modern-avatar">

{% else %}

<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}"
     alt="{{ author.name }}"
     class="modern-avatar">

{% endif %}

</div>



<!-- Name -->

<div class="author__content">


<h2 class="author__name">

{{ author.name }}

{% if author.chinese_name %}

<span class="author__chinese">
{{ author.chinese_name }}
</span>

{% endif %}

</h2>



{% if author.pronouns %}

<div class="pronouns-badge">
{{ author.pronouns }}
</div>

{% endif %}



{% if author.bio %}

<div class="author__bio">
{{ author.bio }}
</div>

{% endif %}



{% if author.location %}

<div class="author-meta">

<i class="fas fa-location-dot"></i>

{{ author.location }}

</div>

{% endif %}



{% if author.employer %}

<div class="author-meta">

<i class="fas fa-building-columns"></i>

{{ author.employer }}

</div>

{% endif %}



</div>



<hr class="author-divider">



<!-- Links -->


<ul class="author__urls social-icons">


{% if author.email %}

<li>
<a href="mailto:{{ author.email }}">
<i class="fas fa-envelope"></i>
Email
</a>
</li>

{% endif %}



{% if author.googlescholar %}

<li>
<a href="{{ author.googlescholar }}">
<i class="ai ai-google-scholar"></i>
Google Scholar
</a>
</li>

{% endif %}



{% if author.orcid %}

<li>
<a href="{{ author.orcid }}">
<i class="ai ai-orcid"></i>
ORCID
</a>
</li>

{% endif %}



{% if author.github %}

<li>
<a href="https://github.com/{{ author.github }}">
<i class="fab fa-github"></i>
GitHub
</a>
</li>

{% endif %}



</ul>


</div>
